{% include 'nav.html.twig' %}



{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; list-style-type: none;}
    .example-wrapper ul { list-style-type: none; }
    .example-wrapper li { background: #F5F5F5; padding: 2px 6px; border: 1px solid black; margin-right: 5px; margin-bottom: 5px;}
</style>

<h1>Liste des contacts</h1>

  <div class="example-wrapper">

  <p><a href="{{ path('contact_new') }}">Ajouter un contact</a></p>
  
    <ul>
    {% for contact in contacts %}
        <li>
        <p>{{ contact.firstname }}</p>
        <p>{{ contact.lastname }}</p>
        <p>{{ contact.email }}</p>
        <p>{{ contact.phone }}</p>
        <p>{{ contact.tag.name }}</p>

        <a href="{{ path('contact_delete',{'id': contact.id}) }}">Supprimer</a>
        <a href="{{ path('contact_update',{'id':contact.id}) }}">Modifier</a>

        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
